<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="https://www.bestbeijia.com/images/favicon.ico" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 		
<meta name="apple-mobile-web-app-capable" content="yes" /> 		
<meta name="apple-mobile-web-app-status-bar-style" content="blank" /> 		
<meta name="format-detection" content="telephone=no" /> 		
<meta name="keywords" content=""> 
<meta name="description" content="" />
<link rel="stylesheet" href="https://www.bestbeijia.com/css/main.css" /> 		<link rel="stylesheet" href="https://www.bestbeijia.com/css/font-awesome.min.css" /> 		
<script src="https://www.bestbeijia.com/js/jquery.min.js"></script> 		<script src="https://www.bestbeijia.com/js/jquery.dropotron.min.js"></script>
<script src="https://www.bestbeijia.com/js/head.js"></script> 
<title>淘惠街</title> 	
</head> <body> <section id="page-wrapper"> <!-- Header --> <header id="header">  <h1><a href="index.html"><img src="/images/logo.png"></a></h1>  <nav id="nav">  <ul>   <li><a href="index.html">首页</a></li>   <li><a href="produce_introduce.html">功能介绍</a></li>   <li><a href="cost_explain.html">费用说明</a></li>   <li><a href="technology_doc.html">技术文档</a></li>   <li><a href="https://www.bestbeijia.com/devucenter/web/mi/mindex/apiindex">API</a></li>   </ul>  </nav> <nav id="navRight"> <ul>  <li> <a href="https://www.bestbeijia.com/devucenter" class="icon fa-angle-down">我的贝+</a> <ul> </ul> </li>  <li><a href="/devucenter/web/mi/mlogin/login" class="button login_btn">登录</a></li>  <li><a href="https://www.bestbeijia.com/devucenter/web/mi/mlogin/regist" class="button register_btn">注册</a></li> </ul>  </nav> </header> <div class="cd-fixed-bg cd-bg-1 banner" id="banner">
	<div class="container clearfix">
		<div class="banner_img">
			<img class="ie_img" src="images/phone.png" /> 
			<div class="image phone">
				<div class="inner">
					<div class="slide_box">
						<ul class="slider_pic">
							<li class="beijia_img">
								<img src="images/beijia.png" /> 
							</li>
							<li class="weixin_img">
								<img src="images/weixin.jpg" /> 
								<p>
									扫一扫，体验贝+
								</p>
							</li>
						</ul>
						<ul class="slider_btn">
							<li>
							</li>
							<li>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="banner_text">
			<h2>
				<img src="images/logo_white.png" /><span>电子钱包管家</span> 
			</h2>
				<p>全面集成主流支付渠道，为企业提供解决<span>收款</span><span>付款</span><span>结算</span><span>营销</span>等问题的技术方案</p>
				<p>提供企业统一管理电子钱包的技术方案</p>

<br />
<a href="/devucenter/web/mi/mlogin/regist" class="button alt">注册使用</a> 
		</div>
	</div>
</div>

<div class="cd-scrolling-bg bg_white">
	<div class="container">
		<h2>
			聚合支付（全支付场景及渠道覆盖）
		</h2>
		<p>
			支持支付宝、微信、银联、快钱等主流支付渠道，让您拥有PC网页支付、扫码支付、手机APP支付、移动HTML5支付、微信公众号支付，一码多付。
		</p>
		<div class="image align-center">
			<img src="images/use01.png" alt="" /> 
		</div>
	</div>
</div>

<div class="cd-scrolling-bg bg_gary">
	<div class="container">
		<h2>
			电子钱包
		</h2>
		<p>
			企业通过贝+为用户提供统一虚拟账户，提升用户支付体验，为拓展增值服务提供基础，为线下零售门店提供无现金管理办法
		</p>
		<div class="image align-center">
			<img src="images/use02.png" alt="" /> 
		</div>
	</div>
</div>

<div class="cd-scrolling-bg bg_white">
	<div class="container">
		<h2>
			智能结算
		</h2>
		<p>
			通过简单的页面配置，可以替代复杂繁琐的人工资金结算业务，提高业务实时性，降低错误
		</p>
		<div class="image align-center">
			<img src="images/use03.png" alt="" /> 
		</div>
	</div>
</div>
<div class="cd-scrolling-bg bg_gary">
	<div class="container">
		<h2>
			我们的优势
		</h2>
		<div class="row">
			<div class="6u 12u(mobile)">
				<div class="advantage_img align-center">
					<img src="images/adv01.png" /> 
				</div>
				<div class="box_item">
					<h4>
						降低研发成本
					</h4>
					<div class="content">
						<p>
							简单快速的接入方式，缩短开发周期，实现快速上线。
						</p>
					</div>
				</div>
			</div>
			<div class="6u 12u(mobile)">
				<div class="advantage_img align-center">
					<img src="images/adv02.png" /> 
				</div>
				<div class="box_item">
					<h4>
						轻松结算对账
					</h4>
					<div class="content">
						<p>
							降低财务人员在结算方面投入的时间和精力，客服人员也可以轻松查看账户明细
						</p>
					</div>
				</div>
			</div>
			<div class="6u 12u(mobile)">
				<div class="advantage_img align-center">
					<img src="images/adv03.png" /> 
				</div>
				<div class="box_item">
					<h4>
						全面开放API
					</h4>
					<div class="content">
						<p>
							让企业更加自主的使用贝+相关服务
						</p>
					</div>
				</div>
			</div>
			<div class="6u 12u(mobile)">
				<div class="advantage_img align-center">
					<img src="images/adv04.png" /> 
				</div>
				<div class="box_item">
					<h4>
						安全稳定高效
					</h4>
					<div class="content">
						<p>
							HTTPS传输加密，REST API调用数字签名验证，ACL权限控制，严格保护客户数据的安全和隐私
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cd-scrolling-bg bg_white">
	<div class="container">
		<header class="black">
			<h2>他们都在使用贝+</h2>
		</header>
		<div class="company_list">
			<ul class="clearfix">
				<li><a target="_blank" href=""><img src="images/cooperate01.png" /></a></li>
				<li><a target="_blank" href="http://www.donghengyiliao.com"><img src="images/cooperate02.png" /></a></li>
				<li><a target="_blank" href="http://361yq.com"><img src="images/cooperate03.png" /></a></li>
				<li><a target="_blank" href="https://www.bestbeijia.com/yxgj"><img src="images/cooperate04.png" /></a></li>
				<li><a target="_blank" href=""><img src="images/cooperate05.png" /></a></li>
				<li><a target="_blank" href="http://www.365ie.com"><img src="images/cooperate06.png" /></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="cd-scrolling-bg bottom_bg">
	<div class="konw_morebox">
		<div class="container">
			<h2>
				想要了解更多
			</h2>
			<div class="row">
				<div class="4u 12u(mobile)">
					<a href="produce_introduce.html" class="know_more icon fa-chain"> 
					<h4>
						了解更多
					</h4>
					<p>
						你也许还有更多疑问，我们的帮助中心会为您提供答案
					</p>
</a> 
				</div>
				<div class="4u 12u(mobile)">
					<a href="cost_explain.html" class="know_more icon fa-credit-card"> 
					<h4>
						资金费用
					</h4>
					<p>
						了解我们的定价策略，渠道开通和渠道交易费
					</p>
</a> 
				</div>
				<div class="4u 12u(mobile)">
					<a href="" class="know_more icon fa-users"> 
					<h4>
						商务合作
					</h4>
					<p>
						如果有什么需求或者意见，我们期待您的联系。
					</p>
</a> 
				</div>
			</div>
			<p class="align-center">
				<br />
<br />
<a href="/devucenter/web/mi/mlogin/regist" class="button big alt">注册成为会员</a> 
			</p>
		</div>
	</div>
</div>
<!-- Scripts --> <script> (function($) { $('body').addClass('landing'); $('#header').addClass('alt'); })(jQuery); </script> <!-- Footer --> 
<footer class="footer"> <div class="container"> 
<div class="row"> <div class="2u 4u(mobile)"> 
<div class="footer_link list_p"> <h5>关于我们</h5> 
<p><a href="about_us.html">公司信息</a>
</p> <p><a href="about_us.html">联系我们</a></p> <p><a href="about_us.html">加入我们</a></p> </div> </div> <div class="2u 4u(mobile)"> <div class="footer_link list_p"> <h5>产品</h5> <p><a href="produce_introduce.html">产品文档</a></p> <p><a href="#">视频教程</a></p> <p><a href="https://www.bestbeijia.com/devucenter/web/mi/mindex/apiindex">下载 </a></p> </div> </div> <div class="2u 4u(mobile)"> <div class="footer_link list_p">  <h5>其它</h5> <p><a href="about_us.html">合作伙伴</a></p> <p><a href="user_agreement.html">用户协议</a></p> <p><a href="help_index.html">帮助中心</a></p> </div> </div> <div class="2u 4u(mobile)"> <div class="footer_link"> <img src="images/weixin1.jpg" /> <p>关注我们</p> </div> </div> <div class="4u 8u(mobile)"> <div class="footer_link"> <h5>联系我们</h5> <p><i class="icon fa-phone-square"></i> 服务热线：18721303031</p> <p><i class="icon fa-envelope"></i> 邮箱：beijia@bestbeijia.com</p> <p><i class="icon fa-map-marker"></i>  地址：</p> </div> </div> </div> <br /> <div class="align-center"><p>
墅合网络版权所有 2016-2018 ICP证：<a href="http://www.miitbeian.gov.cn">沪ICP备16028931号</a>  
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260267203'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260267203%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p></div> </div> </footer> </div> </body> </html>
