<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.tbk.dao.MmMbuserMapper">
  <resultMap id="BaseResultMap" type="com.soft.tbk.model.MmMbuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MBUSER_ID" jdbcType="INTEGER" property="mbuserId" />
    <result column="MBUSER_CODE" jdbcType="VARCHAR" property="mbuserCode" />
    <result column="MERBER_CODE" jdbcType="VARCHAR" property="merberCode" />
    <result column="MBUSER_NAME" jdbcType="VARCHAR" property="mbuserName" />
    <result column="MBUSER_EXCODE" jdbcType="VARCHAR" property="mbuserExcode" />
    <result column="MBUSER_NICKNAME" jdbcType="VARCHAR" property="mbuserNickname" />
    <result column="MBUSER_RELNAME" jdbcType="VARCHAR" property="mbuserRelname" />
    <result column="MBUSEREMIAL" jdbcType="VARCHAR" property="mbuseremial" />
    <result column="MBUSER_PHONE" jdbcType="VARCHAR" property="mbuserPhone" />
    <result column="MBUSER_QQ" jdbcType="VARCHAR" property="mbuserQq" />
    <result column="MBUSER_TEL" jdbcType="VARCHAR" property="mbuserTel" />
    <result column="MBUSER_PWSSWD" jdbcType="VARCHAR" property="mbuserPwsswd" />
    <result column="MBUSER_PYPW" jdbcType="VARCHAR" property="mbuserPypw" />
    <result column="MBUSER_TYPE" jdbcType="INTEGER" property="mbuserType" />
    <result column="MBUSER_MSG" jdbcType="VARCHAR" property="mbuserMsg" />
    <result column="MBUSER_IMGPATH" jdbcType="VARCHAR" property="mbuserImgpath" />
    <result column="MBUSER_IMGURL" jdbcType="VARCHAR" property="mbuserImgurl" />
    <result column="GMT_VALID" jdbcType="TIMESTAMP" property="gmtValid" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="DATA_STATE" jdbcType="INTEGER" property="dataState" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="DEMO_FLAG" jdbcType="INTEGER" property="demoFlag" />
    <result column="TENANT_CODE" jdbcType="VARCHAR" property="tenantCode" />
    <result column="MBUSER_OPENID" jdbcType="VARCHAR" property="mbuserOpenid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    MBUSER_ID, MBUSER_CODE, MERBER_CODE, MBUSER_NAME, MBUSER_EXCODE, MBUSER_NICKNAME, 
    MBUSER_RELNAME, MBUSEREMIAL, MBUSER_PHONE, MBUSER_QQ, MBUSER_TEL, MBUSER_PWSSWD, 
    MBUSER_PYPW, MBUSER_TYPE, MBUSER_MSG, MBUSER_IMGPATH, MBUSER_IMGURL, GMT_VALID, GMT_CREATE, 
    GMT_MODIFIED, MEMO, DATA_STATE, ROLE_CODE, DEMO_FLAG, TENANT_CODE, MBUSER_OPENID
  </sql>
  <sql id="mm_mbuser_query_fuzzy_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="mbuserCode != null and mbuserCode.trim().length() != 0">
         AND (MBUSER_CODE like concat('%',#{mbuserCode},'%')) 
      </if>
      <if test="merberCode != null and merberCode.trim().length() != 0">
         AND (MERBER_CODE like concat('%',#{merberCode},'%')) 
      </if>
      <if test="mbuserName != null and mbuserName.trim().length() != 0">
         AND (MBUSER_NAME like concat('%',#{mbuserName},'%')) 
      </if>
      <if test="mbuserExcode != null and mbuserExcode.trim().length() != 0">
         AND (MBUSER_EXCODE like concat('%',#{mbuserExcode},'%')) 
      </if>
      <if test="mbuserNickname != null and mbuserNickname.trim().length() != 0">
         AND (MBUSER_NICKNAME like concat('%',#{mbuserNickname},'%')) 
      </if>
      <if test="mbuserRelname != null and mbuserRelname.trim().length() != 0">
         AND (MBUSER_RELNAME like concat('%',#{mbuserRelname},'%')) 
      </if>
      <if test="mbuseremial != null and mbuseremial.trim().length() != 0">
         AND (MBUSEREMIAL like concat('%',#{mbuseremial},'%')) 
      </if>
      <if test="mbuserPhone != null and mbuserPhone.trim().length() != 0">
         AND (MBUSER_PHONE like concat('%',#{mbuserPhone},'%')) 
      </if>
      <if test="mbuserQq != null and mbuserQq.trim().length() != 0">
         AND (MBUSER_QQ like concat('%',#{mbuserQq},'%')) 
      </if>
      <if test="mbuserTel != null and mbuserTel.trim().length() != 0">
         AND (MBUSER_TEL like concat('%',#{mbuserTel},'%')) 
      </if>
      <if test="mbuserPwsswd != null and mbuserPwsswd.trim().length() != 0">
         AND (MBUSER_PWSSWD like concat('%',#{mbuserPwsswd},'%')) 
      </if>
      <if test="mbuserPypw != null and mbuserPypw.trim().length() != 0">
         AND (MBUSER_PYPW like concat('%',#{mbuserPypw},'%')) 
      </if>
      <if test="mbuserType != null">
        AND (MBUSER_TYPE = #{mbuserType})
      </if>
      <if test="mbuserMsg != null and mbuserMsg.trim().length() != 0">
         AND (MBUSER_MSG like concat('%',#{mbuserMsg},'%')) 
      </if>
      <if test="mbuserImgpath != null and mbuserImgpath.trim().length() != 0">
         AND (MBUSER_IMGPATH like concat('%',#{mbuserImgpath},'%')) 
      </if>
      <if test="mbuserImgurl != null and mbuserImgurl.trim().length() != 0">
         AND (MBUSER_IMGURL like concat('%',#{mbuserImgurl},'%')) 
      </if>
      <if test="gmtValid != null">
        AND (GMT_VALID = #{gmtValid})
      </if>
      <if test="startDate != null and startDate.trim().length() != 0">
         AND (GMT_CREATE &gt;= #{startDate}) 
      </if>
      <if test="endDate != null and endDate.trim().length() != 0">
         AND (GMT_CREATE &lt;= #{endDate}) 
      </if>
      <if test="gmtModified != null">
        AND (GMT_MODIFIED = #{gmtModified})
      </if>
      <if test="memo != null and memo.trim().length() != 0">
         AND (MEMO like concat('%',#{memo},'%')) 
      </if>
      <if test="dataState != null">
        AND (DATA_STATE = #{dataState})
      </if>
      <if test="roleCode != null and roleCode.trim().length() != 0">
         AND (ROLE_CODE like concat('%',#{roleCode},'%')) 
      </if>
      <if test="demoFlag != null">
        AND (DEMO_FLAG = #{demoFlag})
      </if>
      <if test="tenantCode != null and tenantCode.trim().length() != 0">
         AND (TENANT_CODE like concat('%',#{tenantCode},'%')) 
      </if>
      <if test="mbuserOpenid != null and mbuserOpenid.trim().length() != 0">
         AND (MBUSER_OPENID like concat('%',#{mbuserOpenid},'%')) 
      </if>
    </trim>
  </sql>
  <sql id="mm_mbuser_query_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="mbuserCode != null and mbuserCode.trim().length() != 0">
        AND (MBUSER_CODE = #{mbuserCode})
      </if>
      <if test="merberCode != null and merberCode.trim().length() != 0">
        AND (MERBER_CODE = #{merberCode})
      </if>
      <if test="mbuserName != null and mbuserName.trim().length() != 0">
        AND (MBUSER_NAME = #{mbuserName})
      </if>
      <if test="mbuserExcode != null and mbuserExcode.trim().length() != 0">
        AND (MBUSER_EXCODE = #{mbuserExcode})
      </if>
      <if test="mbuserNickname != null and mbuserNickname.trim().length() != 0">
        AND (MBUSER_NICKNAME = #{mbuserNickname})
      </if>
      <if test="mbuserRelname != null and mbuserRelname.trim().length() != 0">
        AND (MBUSER_RELNAME = #{mbuserRelname})
      </if>
      <if test="mbuseremial != null and mbuseremial.trim().length() != 0">
        AND (MBUSEREMIAL = #{mbuseremial})
      </if>
      <if test="mbuserPhone != null and mbuserPhone.trim().length() != 0">
        AND (MBUSER_PHONE = #{mbuserPhone})
      </if>
      <if test="mbuserQq != null and mbuserQq.trim().length() != 0">
        AND (MBUSER_QQ = #{mbuserQq})
      </if>
      <if test="mbuserTel != null and mbuserTel.trim().length() != 0">
        AND (MBUSER_TEL = #{mbuserTel})
      </if>
      <if test="mbuserPwsswd != null and mbuserPwsswd.trim().length() != 0">
        AND (MBUSER_PWSSWD = #{mbuserPwsswd})
      </if>
      <if test="mbuserPypw != null and mbuserPypw.trim().length() != 0">
        AND (MBUSER_PYPW = #{mbuserPypw})
      </if>
      <if test="mbuserType != null">
        AND (MBUSER_TYPE = #{mbuserType})
      </if>
      <if test="mbuserMsg != null and mbuserMsg.trim().length() != 0">
        AND (MBUSER_MSG = #{mbuserMsg})
      </if>
      <if test="mbuserImgpath != null and mbuserImgpath.trim().length() != 0">
        AND (MBUSER_IMGPATH = #{mbuserImgpath})
      </if>
      <if test="mbuserImgurl != null and mbuserImgurl.trim().length() != 0">
        AND (MBUSER_IMGURL = #{mbuserImgurl})
      </if>
      <if test="gmtValid != null">
        AND (GMT_VALID = #{gmtValid})
      </if>
      <if test="startDate != null and startDate.trim().length() != 0">
         AND (GMT_CREATE &gt;= #{startDate}) 
      </if>
      <if test="endDate != null and endDate.trim().length() != 0">
         AND (GMT_CREATE &lt;= #{endDate}) 
      </if>
      <if test="gmtModified != null">
        AND (GMT_MODIFIED = #{gmtModified})
      </if>
      <if test="memo != null and memo.trim().length() != 0">
        AND (MEMO = #{memo})
      </if>
      <if test="dataState != null">
        AND (DATA_STATE = #{dataState})
      </if>
      <if test="roleCode != null and roleCode.trim().length() != 0">
        AND (ROLE_CODE = #{roleCode})
      </if>
      <if test="demoFlag != null">
        AND (DEMO_FLAG = #{demoFlag})
      </if>
      <if test="tenantCode != null and tenantCode.trim().length() != 0">
        AND (TENANT_CODE = #{tenantCode})
      </if>
      <if test="mbuserOpenid != null and mbuserOpenid.trim().length() != 0">
        AND (MBUSER_OPENID = #{mbuserOpenid})
      </if>
    </trim>
  </sql>
  <select id="query" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from mm_mbuser 
    <if test="fuzzy">
      <include refid="mm_mbuser_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="mm_mbuser_query_condition" />
    </if>
    <if test="order and orderStr == null">
      order by CREATE_TIME desc
    </if>
    <if test="order and orderStr != null and orderStr.trim().length() != 0">
      order by ${orderStr}
    </if>
  </select>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    insert into mm_mbuser ( 
    MBUSER_ID,MBUSER_CODE,MERBER_CODE,MBUSER_NAME,MBUSER_EXCODE,MBUSER_NICKNAME,MBUSER_RELNAME,MBUSEREMIAL,MBUSER_PHONE,MBUSER_QQ,MBUSER_TEL,MBUSER_PWSSWD,MBUSER_PYPW,MBUSER_TYPE,MBUSER_MSG,MBUSER_IMGPATH,MBUSER_IMGURL,GMT_VALID,GMT_CREATE,GMT_MODIFIED,MEMO,DATA_STATE,ROLE_CODE,DEMO_FLAG,TENANT_CODE,MBUSER_OPENID ) values 
    <foreach collection="list" index="index" item="item" separator=",">
       ( #{item.mbuserId,jdbcType=INTEGER},#{item.mbuserCode,jdbcType=VARCHAR},#{item.merberCode,jdbcType=VARCHAR},#{item.mbuserName,jdbcType=VARCHAR},#{item.mbuserExcode,jdbcType=VARCHAR},#{item.mbuserNickname,jdbcType=VARCHAR},#{item.mbuserRelname,jdbcType=VARCHAR},#{item.mbuseremial,jdbcType=VARCHAR},#{item.mbuserPhone,jdbcType=VARCHAR},#{item.mbuserQq,jdbcType=VARCHAR},#{item.mbuserTel,jdbcType=VARCHAR},#{item.mbuserPwsswd,jdbcType=VARCHAR},#{item.mbuserPypw,jdbcType=VARCHAR},#{item.mbuserType,jdbcType=INTEGER},#{item.mbuserMsg,jdbcType=VARCHAR},#{item.mbuserImgpath,jdbcType=VARCHAR},#{item.mbuserImgurl,jdbcType=VARCHAR},#{item.gmtValid,jdbcType=TIMESTAMP},#{item.gmtCreate,jdbcType=TIMESTAMP},#{item.gmtModified,jdbcType=TIMESTAMP},#{item.memo,jdbcType=VARCHAR},#{item.dataState,jdbcType=INTEGER},#{item.roleCode,jdbcType=VARCHAR},#{item.demoFlag,jdbcType=INTEGER},#{item.tenantCode,jdbcType=VARCHAR},#{item.mbuserOpenid,jdbcType=VARCHAR} ) 
    </foreach>
  </insert>
  <select id="count" resultType="int">
    select count(*) from mm_mbuser 
    <if test="fuzzy">
      <include refid="mm_mbuser_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="mm_mbuser_query_condition" />
    </if>
  </select>
  <select id="selectSysDate" resultType="java.util.Date">
     SELECT NOW() 
  </select>
  <update id="updateStateByPrimaryKey" parameterType="Map">
    update mm_mbuser 
     set DATA_STATE = #{dataState,jdbcType=INTEGER},UPDATE_TIME=SYSDATE() 
    where  MBUSER_ID = #{mbuserId,jdbcType=INTEGER}
    <if test="oldDataState != null">
       and DATA_STATE = #{oldDataState,jdbcType=INTEGER} 
    </if>
  </update>
  <select id="getByCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from mm_mbuser 
     where  mbuserCode = #{mbusercode,jdbcType=VARCHAR} 
  </select>
  <delete id="delByCode" parameterType="Map">
     delete from mm_mbuser 
     where  mbuserCode = #{mbusercode,jdbcType=VARCHAR} 
  </delete>
</mapper>