<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.tbk.dao.TbkPidMapper">
  <resultMap id="BaseResultMap" type="com.soft.tbk.model.TbkPid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="SITE_ID" jdbcType="INTEGER" property="siteId" />
    <result column="ADZONE_ID" jdbcType="INTEGER" property="adzoneId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ORDER_INDEX" jdbcType="INTEGER" property="orderIndex" />
    
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, PID, SITE_ID, ADZONE_ID, CREATE_TIME, UPDATE_TIME, ORDER_INDEX
  </sql>
  <sql id="t_tbk_pid_query_fuzzy_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="pid != null and pid.trim().length() != 0">
         AND (PID like concat('%',#{pid},'%')) 
      </if>
      <if test="siteId != null">
        AND (SITE_ID = #{siteId})
      </if>
      <if test="adzoneId != null">
        AND (ADZONE_ID = #{adzoneId})
      </if>
      <if test="createTime != null">
        AND (CREATE_TIME = #{createTime})
      </if>
      <if test="updateTime != null">
        AND (UPDATE_TIME = #{updateTime})
      </if>
    </trim>
  </sql>
  <sql id="t_tbk_pid_query_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="pid != null and pid.trim().length() != 0">
        AND (PID = #{pid})
      </if>
      <if test="siteId != null">
        AND (SITE_ID = #{siteId})
      </if>
      <if test="adzoneId != null">
        AND (ADZONE_ID = #{adzoneId})
      </if>
      <if test="createTime != null">
        AND (CREATE_TIME = #{createTime})
      </if>
      <if test="updateTime != null">
        AND (UPDATE_TIME = #{updateTime})
      </if>
    </trim>
  </sql>
  <select id="query" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from t_tbk_pid 
    <if test="fuzzy">
      <include refid="t_tbk_pid_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="t_tbk_pid_query_condition" />
    </if>
    <if test="order and orderStr == null">
      order by ORDER_INDEX
    </if>
    <if test="order and orderStr != null and orderStr.trim().length() != 0">
      order by ${orderStr}
    </if>
  </select>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    insert into t_tbk_pid ( 
    ID,PID,SITE_ID,ADZONE_ID,CREATE_TIME,UPDATE_TIME ) values 
    <foreach collection="list" index="index" item="item" separator=",">
       ( #{item.id,jdbcType=INTEGER},#{item.pid,jdbcType=VARCHAR},#{item.siteId,jdbcType=INTEGER},#{item.adzoneId,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateTime,jdbcType=TIMESTAMP} ) 
    </foreach>
  </insert>
  <select id="count" resultType="int">
    select count(*) from t_tbk_pid 
    <if test="fuzzy">
      <include refid="t_tbk_pid_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="t_tbk_pid_query_condition" />
    </if>
  </select>
  <select id="selectSysDate" resultType="java.util.Date">
     SELECT NOW() 
  </select>
  <update id="updateStateByPrimaryKey" parameterType="Map">
    update t_tbk_pid 
     set DATA_STATE = #{dataState,jdbcType=INTEGER},UPDATE_TIME=SYSDATE() 
    where  ID = #{id,jdbcType=INTEGER}
    <if test="oldDataState != null">
       and DATA_STATE = #{oldDataState,jdbcType=INTEGER} 
    </if>
  </update>
  
  
  
  <!--  -->
   <select id="getPidByIndex" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from t_tbk_pid 
	 where ORDER_INDEX &gt; #{orderIndex} ORDER BY ORDER_INDEX LIMIT 1 
  </select>
</mapper>