<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.tbk.dao.TbkWithdrawMapper">
  <resultMap id="BaseResultMap" type="com.soft.tbk.model.TbkWithdraw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, USER_ID, CODE, AMOUNT,ACCOUNT, REMARK, STATUS, UPDATE_TIME, CREATE_TIME
  </sql>
  <sql id="t_tbk_withdraw_query_fuzzy_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="userId != null">
        AND (USER_ID = #{userId})
      </if>
      <if test="code != null and code.trim().length() != 0">
         AND (CODE like concat('%',#{code},'%')) 
      </if>
      <if test="amount != null">
        AND (AMOUNT = #{amount})
      </if>
      <if test="account != null and account.trim().length() != 0">
         AND (ACCOUNT like concat('%',#{account},'%')) 
      </if>
      <if test="remark != null and remark.trim().length() != 0">
         AND (REMARK like concat('%',#{remark},'%')) 
      </if>
      <if test="status != null">
        AND (STATUS = #{status})
      </if>
      <if test="updateTime != null">
        AND (UPDATE_TIME = #{updateTime})
      </if>
      <if test="createTime != null">
        AND (CREATE_TIME = #{createTime})
      </if>
    </trim>
  </sql>
  <sql id="t_tbk_withdraw_query_condition">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="userId != null">
        AND (USER_ID = #{userId})
      </if>
      <if test="code != null and code.trim().length() != 0">
        AND (CODE = #{code})
      </if>
      <if test="amount != null">
        AND (AMOUNT = #{amount})
      </if>
      <if test="account != null and account.trim().length() != 0">
        AND (ACCOUNT = #{account})
      </if>
      <if test="remark != null and remark.trim().length() != 0">
        AND (REMARK = #{remark})
      </if>
      <if test="status != null">
        AND (STATUS = #{status})
      </if>
      <if test="updateTime != null">
        AND (UPDATE_TIME = #{updateTime})
      </if>
      <if test="createTime != null">
        AND (CREATE_TIME = #{createTime})
      </if>
    </trim>
  </sql>
  <select id="query" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from t_tbk_withdraw 
    <if test="fuzzy">
      <include refid="t_tbk_withdraw_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="t_tbk_withdraw_query_condition" />
    </if>
    <if test="order and orderStr == null">
      order by CREATE_TIME desc
    </if>
    <if test="order and orderStr != null and orderStr.trim().length() != 0">
      order by ${orderStr}
    </if>
  </select>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    insert into t_tbk_withdraw ( 
    ID,USER_ID,CODE,AMOUNT,ACCOUNT,REMARK,STATUS,UPDATE_TIME,CREATE_TIME ) values 
    <foreach collection="list" index="index" item="item" separator=",">
       ( #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=INTEGER},#{item.code,jdbcType=VARCHAR},#{item.amount,jdbcType=DECIMAL},#{item.account,jdbcType=VARCHAR},#{item.remark,jdbcType=VARCHAR},#{item.status,jdbcType=INTEGER},#{item.updateTime,jdbcType=TIMESTAMP},#{item.createTime,jdbcType=TIMESTAMP} ) 
    </foreach>
  </insert>
  <select id="count" resultType="int">
    select count(*) from t_tbk_withdraw 
    <if test="fuzzy">
      <include refid="t_tbk_withdraw_query_fuzzy_condition" />
    </if>
    <if test="!fuzzy">
      <include refid="t_tbk_withdraw_query_condition" />
    </if>
  </select>
  <select id="selectSysDate" resultType="java.util.Date">
     SELECT NOW() 
  </select>
  <update id="updateStateByPrimaryKey" parameterType="Map">
    update t_tbk_withdraw 
     set DATA_STATE = #{dataState,jdbcType=INTEGER},UPDATE_TIME=SYSDATE() 
    where  ID = #{id,jdbcType=INTEGER}
    <if test="oldDataState != null">
       and DATA_STATE = #{oldDataState,jdbcType=INTEGER} 
    </if>
  </update>
</mapper>